<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="AutoTest">
                <classes>
                    <class name="tests.customerlogin.FindCustomerLoginPageWithMainPageTest"></class>
                    <class name="tests.customerlogin.TestSout"></class>
                    <class name="tests.customerlogin.ChooseCustomerHarryPotterAndLogin"></class>
                    <class name="tests.customerlogin.BankManagerLoginAddCustomerAndCheckIt"></class>
                </classes>
    </test>
</suite>